CLIENT/libConsPedidoMtto/libConsPedidoMtto/Service References/refSvcPedidoMtto/svcPedidoMtto2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/wcfPedidoMtto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/wcfPedidoMtto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="clsPedidoMtto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodTecnico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetalleProd" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaOrden" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Funciono" type="xs:boolean" />
      <xs:element minOccurs="0" name="IvaOrden" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumeroOrden" type="xs:int" />
      <xs:element minOccurs="0" name="ValorOrd" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsPedidoMtto" nillable="true" type="tns:clsPedidoMtto" />
</xs:schema>